@charset "utf8";

/* 単なるレイアウト:スクリーンモーダルとはあまり関係がない*/
body{
  max-width:950px;
  margin:50px auto;
  color:#F5F5F5;
  font-size: 0.8rem;
}

header {
  width: 984px;
  height: 20px;
  margin: 0 auto;
}

.inner li {
  display: inline-block;
  list-style: none;
  text-align: right;
  text-decoration: none;
}

.button {
  float: right;
  margin-right: -25px;
}


.button a {
  cursor: pointer;
  text-decoration: none;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.button a:hover {
  opacity: 0.6;
}

.button:visited {
  color: gray;
}


.wrapper {
  display:flex;
  margin-top: 100px;
}
.wrapper > div{
    width:50%;
}
.screen-modal-data__image{
  width: 80%;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .5);
}
.screen-modal-data__body {
  display:none;
}


/* 
スクロールバーは非表示にする 
スクロールバーがあるとモーダルスクリーン表示時の背景スクロールを禁止するCSSを入れると、
スクロールバーが消えるときに15px程のずれが発生する。
見本のサイトがスクロールバーを消して、左下にその代わりのスクロールバーがあったのはそのせい。

Prevent Page Scrolling When a Modal is Open
https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/

[CSS] スクロールバーを非表示にする（IE, Edge, Chrome, Safari, Firefoxに対応）
https://www.yoheim.net/blog.php?q=20190801
*/
body {
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

/* モーダルオープン時は背景はスクロール禁止にする。 */
body.screen-modal_open {
  overflow: hidden;
}

/* スクリーンモーダルは一つのみ:通常非表示 */
#screen-modal{
  display:none;
}

/* オープン状態のモーダルスクリーン */
.screen-modal_open #screen-modal{
  display:block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* モーダルスクリーン上の画像:アニメーション前 */
.screen-modal__image{
  transition: 0.6s;
  position:absolute;  
  margin:0px;
  top: 0px;
  left: 0px;
  width: 100%; 
  height: 100%;
  z-index: 9999;
  object-fit: contain; 
}

/* モーダルスクリーン上の画像：アニメーション後 */
.screen-modal_animated .screen-modal__image{
  transition: 0.6s;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  border-radius: 0%; 
}

/* モーダルスクリーンの背景：アニメーション前 */
.screen-modal__fade{
  transition: 0.6s;
  position:absolute;  
  margin:0px;
  top: 0px;
  left: 0px;
  right:0px;
  bottom:0px;
  width: 100%; 
  height: 100%;
  opacity: 0;
  z-index: 9998;
  background-color:white;  
}

/* モーダルスクリーンの背景：アニメーション後 */
.screen-modal_animated .screen-modal__fade {
  transition: 0.6s;
  opacity: 1;
}

/* スマートフォン向けレイアウト */
@media screen and (max-width: 900px) {

  * {
    box-sizing: border-box;
  }
  
  body {
    font: 0.6rem caption;
    margin-left: 0;
    padding-left: 0;
    width: 350px;
    min-width: 460px;
  }
  
  .site-title {
    margin-top: 30px;
    width: 100%;
  }
  
  .inner {
    text-align: right;
  }
  
  .intro {
    width: 100%;
    padding-left: 0;
    position: absolute;
    bottom: 0;
    left: 320px;
  }
  
  header {
    padding:10px;
    background: #ccc;
  }
  
  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーの形をCSSで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  .header-logo-menu{
   display: flex;
   display: -moz-flex;
   display: -o-flex;
   display: -webkit-flex;
   display: -ms-flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
  }
  
  .site-text {
    font-size: 3rem;
  }
  
  .button {
    display: none;
  }
