* {
  box-sizing: border-box;
}

body {
  color: #808080;
  font-family: serif;
  text-align: center;
  font-size: 0.7rem;
  background-color: #F8F8FF;
  max-width: 100%;
}

.lesson {
  margin-top: 50px;
}



.pd-works {
}

.pd-works img {
  margin-bottom: 15px;
  display: block;
  margin: 0 auto;
}

.pd-works ul {
  position: relative;
  padding-left: 0;
}

.pd-works li {
  margin-bottom: 100px;
  list-style: none;
}

.headings {
  text-align: right;
  margin: 15px 35px;
}


.button {
  text-align: right;
  text-decoration: none;
  margin: 10px;
  padding-left: 15px;
  letter-spacing: 0.5px;
  font-size: 0.7rem;
  color: #808080;
}

.button:hover {
  opacity: 0.6;
}

.button-gray {
  color: #808080;
}

@media(max-width: 670px) {
  .pd-works p {
    text-align: right;
}

.heading {
  margin: 15px 362px;
  float: left;
  font-size: 0.8rem;
}
