* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  color: #808080;
  font: 2rem caption;
  font-size: 0.7rem;
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 85vh;
}




.button {
  float: right;
  margin-right: 100px;
}

.button a {
  cursor: pointer;
  text-decoration: none;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.button a:hover {
  opacity: 0.6;
}

.button:visited {
  color: gray;
}

.site-title {
  margin-right: 500px;
  position: relative;
  max-width: 1170px
}

.intro {
  margin-top: 300px;
  float: right;
  position: absolute;
  bottom: 40px;
  left: 360px;
}



.skills {
  margin-bottom: 20px;
  opacity: 0.5;
}

.froms {
  line-height: 30px;
}

.from {
  margin-top: 30px;
}

.title-text li {
  list-style: none;
}

.title-text h1 {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: lighter;
}

.inner li {
  display: inline-block;
  list-style: none;
}

.site-pic {
  margin-top: 80px;
  margin-left: 50px;
  width: 450px;
  height: 570px;
  background-image: url(images2/shiguihara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



/* スマートフォン向けレイアウト */
@media screen and (max-width: 576px) {
  
 * {
  box-sizing: border-box;
} 


body {
  margin-left: 30px;
  padding: 0;
  font: 0.6rem caption;
  overflow: hidden;
}

.title-text h1 {
  font-size: 1.3rem;
}

.title-text li {
  font-size: 0.3rem;
}

.site-title {
  width: 100%;
}

header {
  display: none;
}



.intro {
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 170px;
}

.site-pic {
  width: 280px;
  height: 400px;
  background-image: url(images2/shiguihara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -40px;
}

.buttons {
  text-align: center;
  margin-top: 80px;
}


.buttons a {
  cursor: pointer;
  text-decoration: none;
  padding: 0 18px;
  color: white;
  display: inline;
  float: left;
  transition: all 0.5s;
}

.buttons:visited {
  color: gray;
}

ul {
  padding: 0;
}

.inners {
  padding: 0 30px;
}

}
